.main-section {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  background-color: white;
  padding: 40px;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

h1 {
  color: white;
  font-size: 40px;
}
